[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "1.16.0"
plotly = "5.12.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./app.py"
