[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
objgraph = "*"
guppy3 = "*"
psutil = "*"

[dev-packages]

[scripts]
app = "streamlit run ./app.py"