[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = {file = "https://github.com/LukasMasuch/st-playground/releases/download/x-y-param-for-charts-0.0.1/streamlit-1.11.0-py2.py3-none-any.whl"}
pandas = "*"
numpy = "*"
vega_datasets = "*"
altair = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./app.py"