[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = {file = "https://github.com/LukasMasuch/st-playground/releases/download/interactive-table-v1-0.0.1/streamlit-1.5.0-py2.py3-none-any.whl"}
pandas = "*"
numpy = "*"
faker = "*"
matplotlib = "*"
protobuf = "==3.20.1"
click = "==8.0.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./app.py"