[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = {file = "https://core-previews.s3-us-west-2.amazonaws.com/release/1.11.1-preview/streamlit-1.11.1-py2.py3-none-any.whl"}
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./app.py"