[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
streamlit-aggrid = "*"
plotly = "*"
matplotlib = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
app = "streamlit run ./app.py"